<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
    <a href="/user/profile" class="btn">
        <h1 class="title-color display-2 font-weight-bold">{{appTitle}} 🚀</h1>
    </a>
</div>