{{!-- AQUI!!! :User_id --}}
{{!-- ↓ --}}
<a href="/clients/create-routine/:user_id" class="btn btn-primary">Create Routine</a>



{{!-- AQUI!!! :Routine_id --}}
{{!-- ↓ --}}
<a href="/clients/edit-routine/:routine_id" class="btn btn-primary">Edit Routine</a>