<div class="row row-cols-4 mt-5">
    {{#each clients }}
    <div class="col mt-5">
        <div class="card h-100">
            <img src="{{imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
            </div>
            {{!-- AQUI!!! :User_id--}}
            {{!-- ↓ --}}
            <a href="/clients/create-routine/{{id}} " class="btn btn-primary">Create Routine</a>
            <a href="/user/routine-list/{{id}}" class="btn btn-primary">See routines</a>
        </div>
    </div>
    {{/each}}
</div>














{{!-- AQUI!!! :User_id--}}
{{!-- ↓ --}}
{{!-- <a href="/clients/create-routine/:user_id" class="btn btn-primary">Create Routine</a> --}}



{{!-- AQUI!!! :Routine_id --}}
{{!-- ↓ --}}
{{!-- <a href="/clients/edit-routine/:routine_id" class="btn btn-primary">Edit Routine</a> --}}