<div class="row row-cols-5">

    {{#each exercises}}
    <div class="col mt-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p>{{category.name}}</p>
            </div>
        </div>
    </div>
    {{/each}}

</div>