<div class="row row-cols-10">

    {{#each exercises}}
    <div class="col mt-3">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-title">{{exerciseName}}</p>
            </div>
        </div>
    </div>
    {{/each}}

</div>