<div class="container title-color mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Register rutine name</h1>
            <hr>
            <form action="/clients/name-clientroutine/{{user_id}}/" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="routinename">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>