<form action="/user/request-personaltraining/{{ trainer_id }}" method="POST">

    <div class="border border-success rounded mt-5 title-color">
        <div class="row row-cols-7 m-2">
            <p>Days you want to work</p>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="MONDAY" name="monday">
                <label class="form-check-label" for="monday">
                    Monday
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="TUESDAY" name="tuesday">
                <label class="form-check-label" for="tuesday">
                    Tuesday
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="WEDNESDAY" name="wednesday">
                <label class="form-check-label" for="wednesday">
                    Wednesday
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="THURSDAY" name="thursday">
                <label class="form-check-label" for="thursday">
                    Thursday
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="FRIDAY" name="friday">
                <label class="form-check-label" for="friday">
                    Friday
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="SATURDAY" name="saturday">
                <label class="form-check-label" for="saturday">
                    Saturday
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input" type="checkbox" value="SUNDAY" name="sunday">
                <label class="form-check-label" for="sunday">
                    Sunday
                </label>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-light">Request</button>
    </div>

</form>