<div class="row row-cols-1 mt-5 text-center">
    {{#each routines}}
    <div class="col m-3">
        <div class="card h-100">
            <div class="row row-cols-6 card-body justify-content-between">
                <a href="/user/routine-details/{{id}}" class="btn btn-primary btn-lg">Details</a>
                <h5 class="card-title fw-semibold">{{routinename}}</h5>
            </div>
        </div>
    </div>
    {{/each}}
</div>