<div class="row row-cols-4 mt-5">
    {{#each trainers}}
    <div class="col mt-5">
        <div class="card h-100">
            <img src="{{imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
            </div>
            {{#if ../isClient}}
            <form action="/user/request-personaltraining/{{id}}" method="POST">
                <button type="submit" class="btn btn-primary">Train with me</button>
            </form>
            {{/if}}
        </div>

    </div>
    {{/each}}
</div>