body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://cdn.shopify.com/s/files/1/0333/3547/6364/articles/rubbersurface_image_1500x.progressive.jpg?v=1602864158');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

input {
  background-color: gray;
  opacity: 0.8;
}

.title-color {
  color: whitesmoke;
}


.card-gray {
  background-color: rgba(128, 128, 128, 0.5); 
  color: whitesmoke;
  border: none
}